:root {
    --color-container: rgb(233, 233, 233);
    --color-menu: rgb(211, 211, 211);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.flexCol {
    display: flex;
    flex-direction: column;
    background-color: var(--color-container);
}

.barContainer {
    display: flex;
    flex-direction: column;
    padding: 0vw 20vw;
    background-color: var(--color-menu);
}

.tabButton {
    border-radius: 16px 16px 0px 0px;
    margin: 2vw 2px 0px 2px;
    padding: 1rem 4rem;
    font-size: large;
}

.tabButton:hover {
    border:
}

.menuBar {
    padding: 0px 2vw;
}

.container {
    display: flex;
    padding: 0px 20vw;
}

.subcontainer {
    background-color: var(--color-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: xx-large;
    padding: 1rem;
}

.contentText {
    font-size: x-large;
}

.active {
    background-color: var(--color-container);
}